	<div class="flex place-content-around my-2">
	    <div class="md:w-1/2">
	      <label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4 py-2" for="{{id}}">{{ label }} - &euro;{{ price }}</label>
	    </div>
	    <div class="md:w-1/2">
	      <input class="appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" id="{{id}}" name="{{id}}" type="number" value="0"
   onchange   = "formUpdateHandler();"
   onkeypress = "this.onchange();"
   onpaste    = "this.onchange();"
   oninput    = "this.onchange();"
>
	    </div>
	</div>
